# SUPER SIMPLE VERSION
name: Deploy Lambda

# Run when code is pushed
on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
    # 1. GET CODE
    - uses: actions/checkout@v4
    
    # 2. SETUP PYTHON
    - uses: actions/setup-python@v5
      with:
        python-version: '3.14'
    
    # 3. ZIP LAMBDA CODE
    - run: |
        cd test_lambda_first/hello_world
        zip -r ../../lambda.zip .
        cd ../../
    
    # 4. AWS LOGIN
    - uses: aws-actions/configure-aws-credentials@v4
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ap-northeast-1
    
    # 5. DEPLOY
    - run: |
        aws lambda update-function-code \
          --function-name CRUDTest_TTN \
          --zip-file fileb://lambda.zip